@import "./templates.scss";

@import "./mixins.scss";

$dark-colour: #091921;
$light-colour: #d1dae3;
$blue-colour: #008eff;
$white-colour: #fff;
$spinner-colour: $blue-colour;

body {
  margin: 0;
}
