@import "./templates.scss";

@import "./mixins.scss";

$dark-colour: #091921;

$spinner-colour: #1380be;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $dark-colour;
}
