@import "./templates.scss";

@import "./mixins.scss";

$dark-colour: #091921;
$light-colour: #d1dae3;
$spinner-colour: #1380be;
$dark-second-hand-colour: #fff;
$light-second-hand-colour: #008eff;

body {
  margin: 0;
}
