@import "../../styles/global.scss";

.Clock {
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/clock.png");
  background-size: cover;
  border-radius: 50%;

  &::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 1000;
  }

  &_dark {
    background-color: $dark-colour;
    border: 4px solid $dark-colour;
    box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.05),
      0 15px 15px rgba(0, 0, 0, 0.5),
      inset 0 -15px 15px rgba(255, 255, 255, 0.05),
      inset 0 15px 15px rgba(0, 0, 0, 0.5);

    &::before {
      background-color: $second-hand-dark-colour;
    }
  }

  &_light {
    background-color: $light-colour;
    border: 4px solid #cad3dc;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.5),
      10px 10px 10px rgba(0, 0, 0, 0.1),
      inset -8px -8px 15px rgba(255, 255, 255, 0.5),
      inset 10px 10px 10px rgba(0, 0, 0, 0.1);

    &::before {
      background-color: $second-hand-light-colour;
    }
  }
}
