@import "./styles/global.scss";

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  &_dark {
    background-color: $dark-colour;
  }

  &_light {
    background-color: $light-colour;
  }
}
